.mega-dropdown {
    position: relative;
    display: inline-block;
    z-index:999;
    position: 'relative';
    margin-top:5px;
  }
  
  .mega-dropdown-content {
    position: absolute;
    top: 100%;
    left: 50%;
    display: flex;
    background-color: #EBE8DF;
    border: 1px solid #ddd;
    width: 450px;
    max-height: 400px;
    overflow-y: scroll;
  }


  .columnId{
    flex: 1;
    padding-left:10px;
    padding-top:5px;
    width:100px;
  }
  
  .columnName {
    flex: 1;
    padding-left:10px;
    padding-top:5px;
    width:230px;
  }

  .columnBasket {
    padding-left:10px;
    padding-top:10px;
  }

  .columnTool{
    padding-left:20px;
    padding-top:5px;
  }

  .column {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }

  .each-column{
    display: flex;
    flex-direction: row;
  }

  .coyId{
    width: 100px;
  }

  .requisitionTool{
    margin-left: 40px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    cursor: pointer;
    font-weight: 600;
  }

  .column>h2{
    color: #7D7161;
  }

  .megamenu-vesselname{
    width:250px;
    position: relative;
  }

  .column {
    flex: 1;
    padding-left:10px;
    padding-top:5px;
    width:220px;
  }
  
  .columnBasket img,
  .columnTool img {
    display: block;
    margin: 0 auto; 
  }
  