@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input[type='radio'] {
  accent-color: green;
}

.requisition-form{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


.color-golden {
  color: #80531B !important
} 
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}


.container{
  display:flex;
  height:100vh;
  width: 100vw;
}

main{
  width: 100%;
}

.menu-logo{
  text-align: center;
}

.sidebar{
  background: #052E2B;
  color: #fff;
  height: 1000px;
  transition: all 0.5s;
}

.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}

.logo{
  font-size: 30px;
}

.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link{
  display: flex;
  color: #5BC966;
  padding: 10px 15px;
  margin-top:20px;
  transition: all 0.5s;
  align-items:center;
}

.link:first-child{
  margin-bottom: 1rem;
  }

.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}

.active{
  background: lightskyblue;
  color: #000;
}

.icon, .link_text{
  font-size: 20px;
}

.profile-dropdown:hover{
  background:lightskyblue;
  transition: all 0.5s;
}

.create-requisition{
 .MuiFormGroup-row{
  justify-content: center;
  margin-top: 2rem;
 } 
}

@media only screen and (min-width:310px) and (max-width: 600px)  {
  .suggested-requisition{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (max-width: 310px)  {
  .suggested-requisition{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left:5px;
    width:250px
  }
}

      .suggested-requisition-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 auto;
    position: relative;
      }

@media only screen and (max-width: 310px)  {
  .suggested-requisition-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left:5px;
    width:270px;
  }
}

@media only screen and (min-width:500px) and (max-width: 600px)  {
  .profile-button{
    width:170px;
  }
}

.suggested-requisition-title{
  background-color: #80E7FF;
  width: 150px;
  border-radius:2px;
}

.suggested-requisition-title-icon{
  margin-left:5px;
}

.suggested-requisition-title-data{
  margin-left:10px;
  padding:2px;
}

.suggested-requisition-name{
  justify-content: space-between;
}

.suggested-requisition-content{
  width: 100%;
}

@media only screen and (max-width: 500px)  {
  .profile-button{
    display: none;
  }
}

@media only screen  and (max-width: 500px)  {
  .cta-button{
    width: 280px;
  }
}

@media only screen and (min-width:400px) and (max-width: 600px)  {
  .search-vessel-wrapper{
    width: 80%;
    margin:0 auto;
    margin-top:50px;
  }
}

@media only screen and (min-width:320px) and (max-width: 400px)  {
  .search-vessel-wrapper{
    width: 60%;
    margin:0 auto;
    margin-top:50px;
  }
}

@media only screen and (max-width: 320px)  {
  .search-vessel-wrapper{
    width: 50%;
    margin:0 auto;
    margin-top:50px;
  }
}

@media only screen and (max-width: 400px)  {
  .vessel-search{
    position: relative;
    right:50px;
    color:#697E85;
  }
}


@media only screen and (min-width:320px) and (max-width: 400px)  {
  .vessel-directions-boat{
    margin-left:20px;
  }
}

@media only screen and (max-width:320px)  {
  .vessel-directions-boat{
    margin-left:80px;
  }
}

@media only screen and (max-width: 600px)  {
  .requisition-form{
    height:250px;
  }
}

@media only screen and (max-width: 600px)  {
  .requisition-radio-items{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom:20px;
  }
}

@media only screen and (max-width: 330px)  {
  .top-search{
    margin-left:10px;
  }
}


/* 
@media only screen and (min-width: 1500px) and (max-width: 1700px)  {
  .suggested-requisition{
    border:5px solid red;
    margin-top:80px;
  } */
/* } */
.delivery-details {
    padding: 2rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .notes {
      margin-top: 2rem;
    }
    /* min-height: 100vh; */
    .MuiCard-root{
      background: #F2EEEB;
      padding: 53px;
      border-radius: 20px;

    }
    .MuiContainer-root {
      display: flex;
      justify-content: center;
    }
    .position-list {
      width: 200px;
    }
    .notes-text{

    }
    .position-list-label {

    }
}

.order-details-switch{
  span {
    min-width: 400px;
  }
}
.toogle-label{
  width: 250px;
}
.mw-300{
  min-width: 300px;
}

.bg-color-primary {
  background-color: '#F2EEEB' !important
}
.active-step-label {
  color:#04487F;
}
.dialog-title{
  display: flex;
  padding-left: 25px;
  align-items: center;
}
.bg-grey {
  background-color: #E8ECED;
}
.width-97 {
  width: 97vw !important;
}
.main-grid{
  overflow-y: scroll;
  /* margin-left: 24px; */
}
.height-100 {
  height: 100vh;
  overflow-y: scroll;
}
.display-block {
  display: block !important;
}

.margin-top-20-px {
  margin-top: 20px !important;
}

.dialog-padding {
  .MuiPaper-root{
    padding: 24px 0px 24px 0px;
  }
  .MuiDialogActions-root{
    padding-right: 2em;
  }
}
.requisition-layout{

}